# Maven
target/
*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Env / secrets
.env
*.env
application-local.properties

# Logs
*.log

# OS
.DS_Store
Thumbs.db